<div theme>
    

<div class="m-5">
    <dxc-table>
        <tr>
          <th>header 1</th>
          <th>header 2</th>
          <th>header 3</th>
        </tr>
        <tr>
          <td>cell 1</td>
          <td>cell 2</td>
          <td>cell 3</td>
        </tr>
        <tr>
          <td>cell 4</td>
          <td>cell 5</td>
          <td>cell 6</td>
        </tr>
        <tr>
          <td>cell 7</td>
          <td>cell 8</td>
          <td>cell 9</td>
        </tr>
      </dxc-table>
</div>

<div class="m-5 d-flex">
    <dxc-button
mode="primary"
label="Primary Button"
margin="medium"
></dxc-button>

<dxc-button
mode="secondary"
label="Secondary Button"
margin="medium"
></dxc-button>
</div>

<div class="m-5 w-50">
    <dxc-tabs margin="small" [activeTabIndex]="0">
        <dxc-tab label="Tab 1" >
            <div id="content1">Berue</div>
        </dxc-tab>
        <dxc-tab label="Tab 2" ></dxc-tab>
        <dxc-tab label="Tab 3" ></dxc-tab>
        <dxc-tab label="Tab 4" ></dxc-tab>
        <dxc-tab label="Tab 5" ></dxc-tab>
        <dxc-tab label="Tab 6" ></dxc-tab>
    </dxc-tabs>
</div>
    
      
  </div>
  